.container {
    background-color: #e2e2e2;
    padding: 10px;
    display: grid;
    height: 100vw;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(4, 1fr);
    gap: 10px 10px;
    grid-template-areas: 
    "header header header header"
    "sidebar content content content"
    "footer footer footer footer";
    
}
.item {
    background-color: tomato;
    padding: 5px;
    color: white;
}

.item1 {
 grid-area: header;
}

.item2 {
    grid-area: content;
}

.item3 {
    grid-area: sidebar;
}

.item4 {
    grid-area: footer;
}

.item2 {
    grid-area: content;
    background-image: url('https://cdn.pixabay.com/photo/2024/05/26/10/15/bird-8788491_960_720.jpg');
    background-size: contain;
}

.item3 {
    grid-area: sidebar;
    background-image: url('https://cdn.pixabay.com/photo/2024/05/26/10/15/bird-8788491_960_720.jpg');
    background-size: cover;
}

.item4 {
    grid-area: footer;
    background-image: url('https://cdn.pixabay.com/photo/2024/05/26/10/15/bird-8788491_960_720.jpg');
    background-size: cover;
}